/* Keyframes for scrolling */
@keyframes scroll {
    0% {
      top: 0;
    }
    100% {
      top: -100%; /* Move up by 100% of the content height */
    }
  }
  
  /* Smooth scroll for the items */
  .mentor-list-items {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
  }
  