.card-container {
  height: 300px; /* Set the height for the scrollable area */
  overflow-y: hidden; /* Hide content that's not visible */
  position: relative;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  animation: scrollY 4000s linear infinite; /* Animation for vertical scroll */
}

.card {
  /* height: 150px; Adjust card height */
  /* margin-bottom: 10px; Space between cards */
  /* background-color: lightblue; */
  /* border: 1px solid #ddd; */
}

@keyframes scrollY {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%); /* Moves all cards upwards */
  }
}

.carousel-inner {
  display: flex;
  flex-direction: column;
}

.carousel-item {
  transition: transform 0.6s ease-in-out;
}
